header{
    background-color: gray;
    display: row;
    text-align: center;
    padding: 23px;
}

  h3{
    color:rgb(139,0,0); 
    text-align: center;
    font-size:36px ;  
}

ul .list-rue::hover{
  background-color: powderblue;
  transition: background-color 0.5s;
}